@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

.initial-screen {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(../utils/images/index/img-pantalla-inicial.svg);
    background-position: 100%;
  }
  .initial-title {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  }
  .initial-logo {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
  }
  .initial-logo h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 23px;
    margin: .5rem;
    padding: .5rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
  }
  .initial-logo img {
    width: 100%;
    margin: 5px;
    max-width: 80px;
  }
  .initial-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 70px 50px;
  }
  .initial-button {
    width: 120px;
    height: 40px;
    background: #c75c7e;
    border-radius: 10px;
    color: white;
    border: none;
    font-family: "Oswald";
    font-weight: 700;
    font-size: 20px;
    margin: .5rem;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  }
  .initial-button a {
    text-decoration: none;
    color: white;
  }
  .pink-title {
    color: #f2acb9;
  }
  .white-title {
    color: white;
  }

  /*Resolución de tablet*/
@media screen and (min-width: 768px) {
    /* Diseño de Index*/

    .initial-logo h1{
        font-size: 36px;
    }

    .initial-logo img{
        max-width: 100px;
        width: 100%;
    }

    .initial-title{
        font-size: 40px;
        margin: 1rem;
    }

    .initial-button{
        font-size: 30px;
        height: 60px;
        width: 160px;
    }
}

/*Resolución de medias (equipos de escritorio)*/
@media screen and (min-width: 1024px) {
     /* Diseño de Index*/

     .initial-logo h1{
        font-size: 65px;
    }

    .initial-logo img{
        max-width: 170px;
        width: 100%;
    }

    .initial-title{
        font-size: 4rem;
    }

    .initial-button{
        font-size: 2rem;
        height: 55px;
        width: 200px;
    }
}