@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --morado-osc: #440042;
    --morado-oscuro:#3B0057;
    --rosa-oscuro: #A12161;
    --rosa-claro:#C75C7E;
    --rosa-gris:#CC99A9;
    --rosa:#F2ACB9;
    --fondo:#FFF8F8;
    --amarillo:#FFCA00;
    --naranja:#FF671B;
    /* gradiente card background: linear-gradient(180deg, #FF7A00 0%, #F67209 0.01%, #A12161 81.35%); */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body{
    background-color: var(--fondo);
}

html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

header, nav, footer {
	background: rgb(53,1,88);
    background: linear-gradient(90deg, rgba(53,1,88,1) 0%, rgba(106,1,128,1) 100%);
    color: white;
}

/* Diseño de header */
.header-logo {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: auto;
	margin-right: auto;
    padding: .5rem 0;
    text-transform: uppercase;
}

.header-logo img{
    margin: .5rem;
    max-width: 45px;
    width: 100%;
}

.header-logo h1 {
    font-size: 20px;
    font-weight: 700;
	letter-spacing: 0.1rem;
}

/* Diseño de Nav */

nav{
    display: flex;
    flex-direction: column;
    padding: .5rem;
    position: fixed;
    z-index: 10;
}

nav li ul{
    background: linear-gradient(90deg, rgba(53,1,88,1) 0%, rgba(106,1,128,1) 100%);
    display: none;
    min-width: 140px;
    padding: .5rem;
    position: absolute;
}

nav li:hover > ul{
    display: block;
}

li{
    padding: .2rem;
}

#check-menu{
    display: none;
}

#check-menu:checked ~ .nav-header{
    animation: move 1s 1;
    display: block;
    display: flex;
    flex-direction: column;
}

@keyframes move {
    0%{
        box-shadow: 0 0 0 0 rgba(256, 256, 256, .1);
        transform: translateX(5px);
    }

    70%{
        box-shadow: 0 0 0 0 rgba(256, 256, 256, 0);
        transform: translateX(10px);
    }

    100%{
        box-shadow: 0 0 0 0 rgba(256, 256, 256, 0);
        transform: translateX(5px);
    }
}

.button-menu{
    color: white;
    cursor: pointer;
}

.nav-header{
    align-items: center;
    display: none;
    flex-direction: column;
    font-weight: 600;
    justify-content: center;
    list-style: none;
    margin-top: 1rem;
    width: 100vw;
}

.nav-header li{
    margin: .3rem;
}

.nav-header a{
    color: #FFF8F8;
    text-decoration: none;
	padding: .5rem;
}

.nav-header a:hover{
    text-decoration: underline;
}

.redes a:hover{
    background-color: #A12161;
    text-decoration: none;
}

.redes li{
    list-style: none;
    margin: .5rem;
}

/* Diseño de footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
	padding: 0px;
}

.foot-email, .foot-developers, .foot-tech-power{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: .5rem;
    text-align: center; 
}

.foot-email img, .foot-email h1, .foot-email p{
    margin: .2rem 0;
}

.foot-email img {
    max-width: 100px;
    width: 100%;
}

.foot-developers h3, .foot-developers ul{
    margin: .2rem 0;
}

.foot-developers-list{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    list-style: none;
}

.list-section li{
    font-size: 15px;
}

.foot-tech-power img {
    max-width: 200px;
    padding: .5rem;
    width: 100%;
}

.foot-tech-power h3 {
    color: var(--rosa); 
}

/* Diseño de jovenes2 */

.main-section {
    display: flex;
    flex-direction: column;
    margin: 1rem .5rem;
}

.main-resources {
    background-color: var(--rosa-oscuro);
    border-radius: 5px;
    margin: .5rem 0;
    padding: .5rem;
    text-align: center;
    width: 100%;
}

.main-resources h1{
    color: white;
}

.main-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem .5rem;
}

.resources-buttons{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: .5rem;
}

.resources-buttons i {
    color: var(--naranja);
    font-size: 35px;
}

.button {
    margin: 1rem;
}

.space-button {
    background-color: var(--fondo);
    border: 2px solid var(--rosa-oscuro);
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--rosa-oscuro);
    font-size:15px;
    font-weight: bolder;
    padding: .5rem;
}

.space-button:hover {
    background-color: var(--rosa-oscuro);
    color: var(--fondo);
}

.contents-buttons {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.cambios, .EIS, .Prevencion{
    min-height: 123px;
    min-width: 100px;
}

.cambios a, .EIS a, .Prevencion a{
    color: black;
    text-decoration: none;
}

.contents-buttons img {
    min-height: 99px;
    min-width: 99px;
    max-height: 100px;
    max-width: 100px;
    height: 100%;
    width: 100%;
}

/* Submenú fin */

.section-education h1{
    background-color: var(--morado-osc);
    color: var(--fondo);
    margin: 1rem 0;
    padding: 1rem .5rem;
    text-align: center;
    text-shadow: 1px 2px 4px black;
}

.content-education p{
    font-weight: 400;
    text-align: center;
    margin: 2rem;
}

.section-complement {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.section-complement h1 {
    background-color: var(--morado-osc);
    color: var(--fondo);
    margin: 1rem 0;
    padding: 1rem .5rem;
    text-align: center;
    text-shadow: 1px 2px 4px black;
    width: 100%;
}

.section-complement h2 {
    color: var(--morado-osc);
    font-weight: 700;
    font-size: 20px;
    margin: 1rem .5rem;
    text-align: center;
}

.section-complement img{
    max-width: 300px;
}

.section-complement p {
    text-align: center;
    margin: 1rem;
}

.section-complement a {
    margin: 1rem;
    text-decoration: none;
}

.box-education p{
    text-align: center;
}

.gradient-box{
    background-color: var(--fondo);
    border: 15px solid transparent;
    border-image: -webkit-linear-gradient(bottom,#F77737,#A12161) 1 10;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2rem;
    min-height: 260px;
    min-width: 200px;
}

.gradient-box h3{
    margin: 1rem;
    text-align: center;
}

.gradient-box p{
    font-weight: 400;
    margin: 1rem;
    text-align: center;
}

.go {
    padding: .5rem;
    text-align: center;
}

.go a {
    max-width: 1000px;
}

.go i{
    color: #A12161;
}

/*Resolución de tablet*/
@media screen and (min-width: 768px) {

    /* Diseño de header */
    .header-logo h1 {
        font-size: 35px; 
        margin-left: .2rem;
    }

    .header-logo img{
        margin: .5rem;
        max-width: 80px;
        width: 100%;
    }

    /* Diseño de footer */

    footer{
        width: 100%;
    }

    .foot-email img {
        max-width: 100px;
        width: 100%;
    }

    .foot-tech-power img {
        max-width: 200px;
        width: 100%;
    }

    /* Diseño de jovenes2 */

    .main-buttons {
        justify-content: center;
        margin: 1rem 1.5rem;
    }
    
    .resources-buttons i {
        font-size: 80px;
    }

    .button {
        margin: .5rem;
    }
    
    .space-button {
        font-size: 20px;
        min-width: 150px;
    }

    .contents-buttons img {
        max-height: 250px;
        max-width: 250px;
        height: 70%;
        width: 70%;
    }

    /* Fin de submenú */

    .boxes-education{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .box-education{
        max-width: 300px;
    }

    .section-complement img{
        max-width: 500px;
    }

    .gradient-box h3 {
        font-size: 20px;
    }

    .gradient-box p {
        font-size: 15px;
    }

    .gradient-box {
        margin: .5rem 1rem;
    }

}

/*Resolución de medias (equipos de escritorio)*/
@media screen and (min-width: 1024px) {

    body, header, nav, footer {
        margin: 0;
        width: 100%;
    }

    /* Diseño de header */

    .logo{
        max-width: 180px;
        width: 100%;
        /* margin-right: 50px; */
    }

    .header-logo img{
        margin: .5rem;
        max-width: 110px;
        width: 100%;
    }

    .header-logo h1 {
        font-size: 50px; 
        margin-left: .5rem;
    }

    /* Diseño de nav */
    nav{
        position: initial;
        width: 100%;
    }

    .button-menu{
        display: none;
    }

    .nav-header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: .2rem; 
        width: 100%;       
    }

    ul{
        list-style: none;
    }

    #check-menu:checked ~ .nav-header{
        display: flex;
        flex-direction: row;
        transform: translateX(0);
    }

    /* Diseño de footer */

        footer{
        flex-direction: row;
        }

        .foot-email img {
            max-width: 80px;
            width: 100%;
        }

        .foot-developers-list{
            display: flex;
            flex-direction: row;
            list-style: none;
        }

    /* Diseño de jovenes2 */
    
    .main-section {
        align-items: center;
    }

    .main-resources {
        display: inline-block;
        min-width: 800px;
        padding: 1rem;
    }

    .resources-buttons i {
        font-size: 100px;
    }

    .space-button {
        font-size: 25px;
        min-width: 200px;
    }

    .contents-buttons {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .contents-buttons img {
        max-height: 300px;
        max-width: 300px;
    }

    /* Fin de submenú */

    .section-education h1{
        font-size: 35px;
    }

    .boxes-content-education{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 1rem;
    }

    .boxes-content-aditional{
        display: flex;
        flex-direction: row-reverse;
        margin: 1rem;
    }

    .box-initial-desing{
        height: 440px;
        width: 535px;
        border-image: -webkit-linear-gradient(bottom,#A12161, #F77737) 1 10;
    }

    .box-second-desing{
        height: 420px;
        width: 505px;
    }

    .section-complement img{
        max-width: 700px;
    }

    .content-education p{
        font-size: 20px;
    }

    .gradient-box h3 {
        font-size: 30px;
    }

    .gradient-box p {
        font-size: 25px;
    }

    .gradient-box {
        min-width: 400px;
    }
}

/*Resolución macro*/
@media screen and (min-width: 1200px) {
    main{
        margin: 0 auto;
    }

    /* Diseño de footer */
    .foot-email img {
        max-width: 90px;
        width: 100%;
    }  
}