@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FFF8F8;
    margin: 0%;
    box-sizing: border-box;
}

:root {
    --morado-osc: #440042;
    --morado-oscuro: #3B0057;
    --rosa-oscuro: #A12161;
    --rosa-claro: #C75C7E;
    --rosa-gris: #CC99A9;
    --rosa: #F2ACB9;
    --fondo: #FFF8F8;
    --amarillo: #FFCA00;
    --naranja: #FF671B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.d-titulolineas h1 {
    background-image: url(../img/vectortitulo-lineasemer.svg);
    color: #FFFF;
    text-align: center;
    padding: 2rem;
    max-width: 2600px;
    width: 100%;
    margin-top: 10px;
}

.d-titulo h1 {
    color: #3B0057;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
}

.d-titulo p {
    text-align: center;
    font-weight: 600;
}

.lineasdeemergencia {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: space-between;
    margin-top: 10px;
}

.lineasdeemergencia div {
    padding: 1rem;
    text-align: center;
    margin-top: 15px;
}

.lineasdeemergencia img {
    border: #C75C7E solid 5px;
    width: 200px
}

.lineasdeemergencia h2 {
    margin: 10px 10px;
}

.violencias {
    text-align: center;
    border: #FF671B 5px solid;
}

.violencias div {
    margin-top: 20px;
    margin: 10px;
    background-color: #3B0057;
    color: #FFFF;
    padding: 1rem;
    font-size: 18px;
}

.lineasdeemergencia h1 {
    color: #3B0057;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.lineasdeemergencia p {
    font-weight: 700;
    padding: 0.5rem;
    margin: 5px 10px;
    border-left: #440042 solid 2px;
}

.lugaresseguros h1 {
    color: #3B0057;
    text-align: center;
    margin: 30px 20px;
    font-size: 24px;
}

.lugaresseguros p {
    margin: 5px 15px;
    font-weight: 500;
}

.d-denunciar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
}

.d-denunciar h1 {
    justify-content: center;
    margin: 30px 20px;
    background-color: #A12161;
    color: #FFFF;
    padding: 10px;
    text-align: center;
    border-radius: 10%;
    font-size: 20px;
}

.d-denunciar img {
    max-width: 700px;
    width: 100%;
}

.rutaatencion {
    text-align: center;
    margin: 30px 0px;
    color: #3B0057;
}

.lineasdeemergencia p:hover {
    background-color: #440042;
    color: #FFF8F8;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {

    .lugaresseguros p {
        margin: 5px 50px;
        font-weight: 500;
    }

    .d-denunciar img {
        margin-left: 5%;
    }

    .d-denunciar {
        margin-top: 8%;
    }

}

@media (min-width: 1024px) {

    .violencias {
        width: 800px;
        margin-left: 10%;
    }

    .lineasdeemergencia {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .lineasdeemergencia div {
        width: 300px;
    }

    .lineasdeemergencia h2 {
        font-size: 18px;
    }

    .lineasdeemergencia h1 {
        margin-top: 20px;
    }

    .d-denunciar {
        flex-direction: row;
    }

    .d-denunciar h1 {
        width: 200px;
        padding: 10px;
        height: 80px;
        margin: 10% 0%
    }

    .violencias {
        margin-bottom: 5%;
    }

    .lugaresseguros {
        margin-top: 20px;
    }
}

@media (min-width: 1200px) {

    .violencias {
        margin: 2% 18%;
        margin-bottom: 5%;
    }
}

@media (min-width: 1900px) {
    .violencias {
        width: 1200px;
        margin: 2% 18%;
        margin-bottom: 3%;
    }

    .d-denunciar {
        margin-top: 0%;
    }

}